h1 {color: ghostwhite; font-family: courier new; font-size: 35px; background-color: #330022; text-align: center;font-weight: lighter;}




p {color: ghostwhite; font-family: courier new; font-size: 20px; margin: 50px; text-align: center;font-weight: normal;}

a {color: ghostwhite; font-family:courier new; font-size: 12px; background-color: #330022; text-align: center; padding: 5px;text-decoration: none;} 